<!doctype html>
<html>
<head>
    <title>Apitunes</title>
    <base href="{{ url('homepage') | replace({'/app_dev.php': '/'}) | trim('/') }}" />
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
    {#<link rel="stylesheet" type="text/css" href="{{ path('redirect_to_asset_bundle', { name: 'styles', extension: 'css' }) }}" />#}
</head>
<body>

<apitunes [api-endpoint]="{{ url('api_json_ld_entrypoint', {}, true) }}"
          [api-access-token]="{{ is_granted('ROLE_OAUTH_USER') ? app.user.accessToken.accessToken }}"
          [security-roles]='{{ reachable_roles | json_encode | raw }}'
          [oauth-connect-url]="{{ url('hwi_oauth_service_redirect', {service: 'google'}, true) }}"
          [auth-logout-url]="{{ url('logout', {}, true) }}">
    Loading…
</apitunes>

<script src="{{ asset('js/main.bundle.js') }}"></script>

</body>
</html>
