<h2>Home</h2>

<ul class="list-unstyled">
    <li *ngFor="let quote of quotes.quotes">
        <quote-view [quote]="quote"></quote-view>
    </li>
</ul>

<nav>
    <ul class="pagination">
        <li *ngFor="let link of links" [class]="link.active ? 'active' : ''">
            <a [routerLink]="[ '/quotes/page/' + link.page ]">{{link.text}}</a>
        </li>
    </ul>
</nav>
