<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation"><a [routerLink]="['/quotes']">Accueil</a></li>
                <li role="presentation"><a [routerLink]="['/quotes/top']">Top des Citations</a></li>
                <li *ngIf="authorizationChecker.isGranted('ROLE_CREATE_QUOTE')" role="presentation">
                    <a [routerLink]="['/quotes/new']">Déposer une Citation</a>
                </li>
                <li *ngIf="!authorizationChecker.isAuthenticated" role="presentation">
                    <a [href]="config.get('oauth.connect_url')">Connexion</a>
                </li>
                <li *ngIf="authorizationChecker.isAuthenticated" role="presentation">
                    <a [href]="config.get('auth.logout_url')">Déconnexion</a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">Apitunes</h3>
    </div>

    <router-outlet></router-outlet>

</div>
